@{
    Layout = "_Modal";
    ViewBag.Title = "添加名称";
}
<div class="form-group">
    <label class="control-label">名称</label>
    <textarea rows="10" name="Names" class="form-control"></textarea>
    <div class="help-block">每行一个，或者使用“,”分隔多个名称</div>
</div>