@{
    ViewBag.Title = "邮件确认";
}

<div class="container">
    <div class="mb30 text-success" style="height: 100%; padding: 100px; text-align: center;">
        恭喜你！你已经成功激活了账户，<a href="~/login" js-modal="click">点击登陆</a>...
    </div>
</div>